body {
  background-color:         #E6E6FA  ;
  font: 15pt t,Tahoma, Verdana;
}


img {
  max-width: 100%;
}

.navbar{
  background-color: #c0c2ce;
}

.navbar-brand {
  margin-right: 40px;
}

main {
  margin-top: 6%;
    font-style: italic;
}

.card {
  margin-bottom: 60px;
  float: left;
}

.header-brand a:hover,
.card-title a:hover {
  color: #afafaf;
  text-decoration: none;
}

.home-page-bg {
  filter: blur(5px);
  position: absolute;
  width: 100%;
}

.jumbotron {
 background-color: transparent;
}
.resim-kutusu {
  width: 400px;
  float: left;
}

.resim-kutusu img {
  width: 400px;
  height: 600px;
  border: solid 19px #c0c2ce;
}

.altyazi {
  text-align: center;
}